{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "es6": true
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "space-before-function-paren": 0,
    "react/jsx-boolean-value": 0,
    "prettier/prettier": ["off", {}, {
      "usePrettierrc": false
    }],
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  },
  "globals": {
    "window": true,
    "document": true
  }
}
